<!doctype html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ current_user.username }}</h1>
    {% if current_user.face_image %}
    <p>Face Image:</p>
    <img src="{{ url_for('static', filename=current_user.face_image.split('static/')[1]) }}" alt="Face Image" width="150">
    {% endif %}
    {% if current_user.eye_patterns %}
    <p>Eye Patterns:</p>
    <ul>
        {% for pattern in current_user.eye_patterns %}
        <li>{{ pattern }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('face_recognition') }}">顔・視線認証の登録へ</a>
</body>
</html>
